Source: n4d-cups
Section: admin
Priority: optional
Maintainer: Equipo LliureX <lliurex@gva.es>
Uploaders: Equipo LliureX <lliurex@gva.es>
Build-Depends: debhelper (>= 10), n4d-dev
Standards-Version: 4.1.2

Package: n4d-cups
Depends:  ${shlibs:Depends}, ${misc:Depends}, n4d
Architecture: all
Description: n4d cups plugin
 N4d cups operations

