Source: n4d-cups
Section: admin
Priority: optional
Maintainer: Equipo LliureX <lliurex@gva.es>
Uploaders: Angel Berlanas Vicente <lliurex_devel2@edu.gva.es>
Build-Depends: debhelper (>= 8.0.0), n4d-dev
Standards-Version: 3.9.5

Package: n4d-cups
Depends:  ${shlibs:Depends}, ${misc:Depends}, n4d
Architecture: all
Description: n4d cups plugin
 N4d cups operations

